// TODO: change name ie appContainer and move to main? use in all views
.addRecipeContainer {
  // CHANGE TO MIXIN
  //background-color: $colorBg;
  //width: 80%;
  //margin: 30px auto;
  //border: 1px dashed $colorNav;
  @include appContainer;
}

.addRecipeForm {
  @include addForm;
}

.addRecipeHeader {
 @include addHeader;
}

.addRecipeInput-horiz {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  input, textarea {
    width: 88%;
  }
}

.addRecipeInput-vert {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  // moved to _app
  //i {
  //  cursor: pointer;
  //}
  > div {
    width: 48%;
    label {
      display: block;
      width: 95%;
      border-bottom: 2px solid $colorTabData;
    }
    div {
      display: flex;
      height: 100px;
      i {
        margin-top: 10px;
      }
    }
    input, textarea {
      width: 85%;
      margin: 10px;
    }
    // TODO: leave like this or change to textarea?
    input {
      height: 35px;
    }
    .add {
      color: $colorSuccess;
    }
    // moved to _app.scss
    //.action {
    //  margin-left: 5px;
    //  &:first-of-type {
    //    color: $colorWarning;
    //  }
    //  &:last-of-type {
    //    color: $colorBin;
    //  }
    //}
    .recipeList {
      height: 350px;
      overflow-y: auto;
    }
  }
}


