.addRecipeContainer {
  background-color: $colorBg;
  width: 80%;
  margin: 30px auto;
  border: 1px dashed $colorNav;
}

.addRecipeForm {
  width: 95%;
  margin: 30px auto;
  label {
    color: $colorHead;
    font-size: $fontSizeMedium;
  }
  textarea {
    height: 70px;
    resize: none;
  }
  ol, ul {
    margin-left: 25px;
    li {
      // without this long list items go out of container
      width: 100%;
    }
  }
  ul {
    list-style-type: disc;
    &.errorList {
      color: $colorBin;
    }
  }
}

.addRecipeHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid $colorTabData;
  color: $colorBtn;
  h2 {
    font-weight: 700;
  }
  button {
    color: #fff;
    background-color: $colorBtn;
    padding: 10px 40px;
    cursor: pointer;
    border-width: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: $fontSizeMain;
  }
}

.addRecipeInput-horiz {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  input, textarea {
    width: 88%;
  }
}

.addRecipeInput-vert {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  i {
    cursor: pointer;
  }
  > div {
    width: 48%;
    label {
      display: block;
      width: 95%;
      border-bottom: 2px solid $colorTabData;
    }
    div {
      display: flex;
      height: 100px;
      i {
        margin-top: 10px;
      }
    }
    input, textarea {
      width: 85%;
      margin: 10px;
    }
    // TODO: leave like this or change to textarea?
    input {
      height: 35px;
    }
    .add {
      color: $colorSuccess;
    }
    .action {
      margin-left: 5px;
      &:first-of-type {
        color: $colorWarning;
      }
      &:last-of-type {
        color: $colorBin;
      }
    }
    .recipeList {
      height: 350px;
      overflow-y: auto;
    }
  }
}


