.main {
  // commented -> moved to main to affect whole project
  //font-family: 'Open Sans', sans-serif;
  //font-size: $fontSizeMain;
  background-color: $colorBg;
  //h2 {
  //  font-size: $fontSizeMedium;
  //}
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.header {
  height: 70px;
  line-height: 70px;
  background-color: $colorHead;
  > .container {
    display: flex;
  }
  nav > ul {
    display: flex;
    color: #fff;
    li {
      padding: 0 30px;
      cursor: pointer;
      &:first-of-type {
        color: $colorBtn;
      }
      &:hover{
        color: $colorBtn;
      }
    }
  }
}

.logo {
  font-family: 'Charmonman', cursive;
  // moved to h1 in MAIN
  //font-size: $fontSizeLarge;
  color: #fff;
  flex-grow: 1;
  span {
    color: $colorLogo;
    font-weight: 700;
  }
}

.slider {
  > .container {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      padding: $fontSizeMain;
      cursor: pointer;
    }
    > div {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

.callToAction {
  background-color: $colorHead;
  color: #fff;
  > .container {
    height: 150px;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > div {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h2 {
        margin-bottom: 20px;
      }
      p {
        width: 400px;
      }
    }
    .btn {
      color: #fff;
      background-color: $colorBtn;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.aboutApp {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  div {
    text-align: center;
    width: 25%;
    color: $colorNav;
    i {
      color: $colorTabData;
    }
  }
}

.newsletter {
  background-color: $colorNav;
  color: #fff;
  > .container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
      height: 36px;
      width: 200px;
      padding-left: 5px;
    }
    .btn {
      color: #fff;
      background-color: $colorBtn;
      padding: 10px 40px;
      cursor: pointer;
      border-width: 0;
    }
  }
}

.aboutAuthor {
  display: flex;
  justify-content: center;
  .pic {
    background-color: $colorHead;
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  div:last-of-type {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 50px;
    h2 {
      margin-bottom: 20px;
    }
  }
}

footer {
  background-color: $colorNav;
  color: #fff;
  > .container {
    div {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      div {
        width: 30%;
        display: flex;
        flex-direction: column;
        ul {
          list-style-type: disc;
          li {
            margin-left: 15px;
          }
        }
        input {
          width: 150px;
        }
        .socialMedia {
          flex-direction: unset;
          i {
            margin-right: 30px;
          }
        }
      }
    }
  }

  .copyright {
    height: 50px;
    line-height: 50px;
    background-color: $colorHead;
    text-align: center;
    span {
      color: $colorBtn;
    }
  }
}