.dashboardContainer {
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widgetsContainer {
  width: 100%;
  min-height: 150px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
    &:first-of-type {
      justify-content: space-between;
      min-width: 250px;
      width: 25%;
    }
  }
}

.widgetAdd {
  border: 1px dashed $colorSuccess;
  background-color: $colorBg;
  color: $colorSuccess;
  min-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: darken($colorBg, 2%);
  }
  i {
    color: $colorSuccess;
  }
  h3 {
    font-weight: bold;
  }
}

.widgetsInfo {
  //width: 80%;
  height: 100%;
  flex-direction: column;
  //justify-content: space-between;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 30px;
  div {
    height: 30%;
    width: 100%;
    background-color: $colorBg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor:  pointer;
    &:nth-of-type(1) {
      border: 1px dashed $colorInfo;
      color: $colorInfo;
    }
    &:nth-of-type(2) {
      border: 1px dashed $colorWarning;
      color: $colorWarning;
    }
    &:nth-of-type(3) {
      border: 1px dashed $colorSuccess;
      color: $colorSuccess;
    }
    &:hover {
      background-color: darken($colorBg, 2%);
    }
  }
  i {
    font-size: $fontSizeLarge;
    margin-right: 10px;
    display: flex;
    align-content: center;

    h3 {
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      font-size: $fontSizeMain;
      padding: 5px;
    }
  }
}

.desktopView {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.scheduleContainer {
  width: 100%;
  height: 77%;
  //height: 60vh;
  border: 1px dashed $colorNav;
  background-color: $colorBg;
  //margin: 0 30px;
  text-align: center;
  h2 {
    font-size: $fontSizeMedium;
    color: $colorBtn;
    padding: 10px;
  }
  div:nth-of-type(1) {
    overflow-y: scroll;
    height: 50vh;
  }
  div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    h3 {
      color: $colorBtn;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
  .pulpitTable {
    margin: 0 auto;
    th {
      border-top: 1px solid $colorTabData;
      border-bottom: 1px solid $colorTabData;
      padding: 10px;
      color: $colorHead;
    }
    td {
      color: $colorNav;
      padding: 10px 1px;
      border-bottom: 1px solid $colorTabData;
    }
  }
}