.widgetsContainer{
  width: 85%;
  margin: 20px;
  display: flex;
  div:nth-of-type(1){
    display: flex;
  }
}

.widgetAdd{
  border: 1px dashed $colorSuccess;
  background-color: #fff;
  color: $colorSuccess;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
  i{
    color: $colorSuccess;
  }
  h3{
    font-weight: bold;
  }
}

.widgetsInfo{
  div{
    border: 1px dashed $colorSuccess;
    background-color: #fff;
    margin: 0 10px;
    width: 560px;
    height: 47px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    i{
      font-size: $fontSizeLarge;
      margin-right: 10px;
      display: flex;
      align-content: center;

      h3{
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        font-size: $fontSizeMain;
        padding: 5px;
      }
    }
  }
  div:nth-of-type(1){
    margin-bottom: 5px;
    border: 1px dashed $colorInfo;
    color: $colorInfo;
  }
  div:nth-of-type(2){
    margin-bottom: 5px;
    border: 1px dashed $colorWarning;
    color: $colorWarning;
  }
  div:nth-of-type(3){
    border: 1px dashed $colorSuccess;
    color: $colorSuccess;
  }
}

.scheduleContainer{
  width: 94%;
  height: 60vh;
  border: 1px dashed #CFCFCA;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  h2{
    font-size: $fontSizeMedium;
    color: $colorBtn;
    padding: 10px;
  }
  div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    h3{
      color: $colorBtn;
      cursor: pointer;
    }
  }
  .pulpitTable{
    margin: 0 auto;
    width: 90%;
    th{
      border-top: 1px solid $colorTabData;
      border-bottom: 1px solid $colorTabData;
      padding: 10px;
      color: $colorHead;
    }
    td{
      color: $colorNav;
      padding: 10px;
      border-bottom: 1px solid $colorTabData;
    }
  }
}