.schedulesView {
  width: 100%;
}

.recipesContainer {
  @include appContainer;
  .recipesTable {
    @include appInnerContainer;
    .recipesHeader {
      display: flex;
      border-bottom: 3px solid $colorTabData;
      padding-bottom: 5px;
      h2 {
        flex-grow: 1;
        color: $colorBtn;
        font-weight: 700;
      }
      i {
        color: $colorSuccess;
      }
    }
    table {
      width: 100%;
      text-align: left;
      th {
        font-size: $fontSizeMedium;
        color: $colorHead;
        padding: 15px 0;
        &:first-of-type {
          width: 5%;
        }
        &:nth-of-type(2) {
          width: 15%;
        }
        &:nth-of-type(3) {
          width: 50%;
        }
        &:nth-of-type(4) {
          width: 15%;
        }
        &:last-of-type {
          width: 15%;
        }
      }
      td {
        color: $colorNav;
        padding: 10px 0;
        border-top: 1px solid $colorTabData;
      }
      tbody {
        tr {
          th:nth-child(4), td:nth-child(4) {
            text-align: center;
            //td:nth-of-type(4){
            //  padding-left: 20px;
            //}
          }
        }
      }
    }
  }
}

.editWidget {
  display: flex;
  width: 80%;
  border: 1px dashed $colorSuccess;
  background-color: #fff;
  padding: 30px;
  margin: 10px auto;
  color: $colorSuccess;
  justify-content: center;
  cursor: pointer;
  i {
    margin: 0 15px;
  }
}