// panel boczny, nawigacja
$colorNav: #5B605F;
// nagłówek, , kolor tekstu w kolumnach
$colorHead: #4a4a49;
// przyciski, wyróżnienia, nagłówki ekranów
$colorBtn: #FF6600;
// kolor tła ekranów
$colorBg: #FFFFFA;
// kolor wiadomości typu info,
$colorInfo: #3498DB;
// kolor wiadomości typu warning
$colorWarning: #FFB03B;
// kolor wiadomości typu success
$colorSuccess: #468966;
// kolor ikony kosza
$colorBin: #BD4932;
// kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$colorTabData: #A1A194;
// słowo Jedzonko jest kolorem #E58A20 (zaplanuj = white)
$colorLogo: #E58A20;

// wielkość bazowa
$fontSizeMain: 14px;
// wielkość średnia (np h2)
$fontSizeMedium: 21px;
// wielkość large (logo etc)
$fontSizeLarge: 28px;